table {
    border-collapse: collapse;
    margin-bottom: 50px;
    border: 1px  solid black;
}
th, td {
    padding: 10px 50px 10px 5px;
    text-align: left;
    font-family: sans-serif;
    font-size: x-small;
}
th {
    color: white;
    background-color: #FF7F50;
    border-top: 5px solid #FFFFFF;
}
td {
    color: #7274A5;
    background-color: beige;
    border-top: 3px solid #FFFFFF;
}