{
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
}

.img-info {

}


body {
    font-family: Arial;
}
/* Header */

/* Body */
.img-info h2 {
    padding: 30px 30px 20px;
    font-size: 50px;
    line-height: 44px;
}
.img-info h3 {
    font-size: 30px;
    line-height: 30px;
}
.img-info p, li {
    font-size: 15px;
    line-height: 20px;
}
.img-pizza {
    width: 100%;
}


/* Footer */
.footerbox {
    width: 100%;
    height: 80px;
    background: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footeritem{
    width: 33%;
    text-align: center;
}
.footeritem img {
    height: 40px;
    margin-top: 10px;
}
#copyright{
    font-size: 10px;
    color: black;
    background-color: lavender;
    text-align: center;
    padding: 10px;
}

/* Responsive */
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (min-width: 768px) {
    .
}
