body {
    background-color: white;
    color: black;
    font-family: "Whitney SSm A", "Whitney SSm B", "Lucida Grande", SansSerif, serif;
    margin: 0;
    border: 1px solid darkgrey;
}

header, #content, footer {
    /*border: 1px solid darkgrey;*/
}

.session-bar {
    background-color: #7274A5;
    color: #FFFFFF;
    text-align: end;
}
.session-bar p {
    display: none;
}
.banner img {
    display: none;
}
.banner p {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    font-weight: bolder;
}

.flex-nav {
    background-color: #7274A5;
}
.flex-nav ul {
    list-style-type: none;
    padding: 0;
}
.flex-nav ul li a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
}

/* Content */
/*
.content-top-text,
.content-left-text,
.content-right-text,
.content-under-text {
    border: 1px solid darkgrey;
}
*/

.content-left-text img {
    width: 100%;
}

/* Wrapper */
.wrapper {
    margin: auto;
    max-width: 75rem;
}


/* Footer */
footer {
    background-color: #7274A5;
    color: #FFFFFF;
}
.flex-container-footer {
    display: flex;
    flex-direction: column;
}
.footeritem {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footeritem-logo img {
    max-width: 40px;
    max-height: 50px;
}
.footeritem-text {
    margin-left: 40px;
}
#copyright {
    text-align: center;
    border-top: 1px solid darkgrey;
}
#copyright h4 {
    margin: 10px 0 0 0;
}


/* Flex */
@media screen and (min-width: 640px) {
    .flex-container-content {
        display: flex;
        line-height: 20px;
    }
    .content-top-text {
        padding: 0 20px;
        line-height: 18px;
    }
    .content-under-text {
        padding: 0 20px;
        line-height: 20px;
    }
    .content-left-text {
        flex: 1;
        padding: 0 40px;;
    }
    .content-right-text {
        flex: 0 1 400px;
        padding: 0 20px;
    }
    .session-bar {
        padding: 10px 20px 10px 0;
    }
    .session-bar p {
        display: flex;
        padding-left: 20px;
        font-family: 'Dancing Script', cursive;
        font-size: 40px;
        font-weight: bolder;
        margin: 0;
    }
    .banner {
        background-repeat: no-repeat;
        height: 100%;
    }
    .banner p {
        display: none;
    }
    .banner img {
        display: flex;
        width: 100%;
    }
    .flex-nav ul {
        display: flex;
        flex-direction: row;
        gap: 40px;
        justify-content: center;
        margin: 0;
    }
    .flex-nav ul li a {
        margin: 20px 0;
        font-size: 20px;
    }
    .flex-container-footer {
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 0;
    }
    .flex-container-footer {
        padding: 10px 0;
    }
    .footeritem-text {
        margin-left: 20px;
    }
    #copyright {
        padding: 5px 0;
    }
}